<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8" />
</head>
<body>

<section class="layout-content" layout:fragment="corpo">
    <main role="main">

        <section class="jumbotron">
            <div class="homeiniciais">
                <h1 class="jumbotron-heading">Agendamentos</h1>
            </div>
        </section>

        <div class="album py-5 bg-light">

            <div class="container">

                <div class="cards">
                <div class="rowiniciais">

                    <div class="col-md-3 mb-4">
                        <div class="card flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <div class="img-container d-flex align-items-center justify-content-center">
                                        <img src="/image/image_tela_inicial_agendamento_2.png" class="img-fluid" alt="Imagem do card">
                                    </div>
                                    <!-- Conteúdo frontal do cartão -->
                                </div>
                                <div class="flip-card-back">
                                    <!-- Conteúdo traseiro do cartão -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 mb-4">
                        <div class="card flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <div class="img-container d-flex align-items-center justify-content-center">
                                        <img src="/image/image_tela_inicial_agendamento_1.png" class="img-fluid" alt="Imagem do card">
                                    </div>
                                    <!-- Conteúdo frontal do cartão -->
                                </div>
                                <div class="flip-card-back">
                                    <!-- Conteúdo traseiro do cartão -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 mb-4">
                        <div class="card flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <div class="img-container d-flex align-items-center justify-content-center">
                                        <img src="/image/image_tela_inicial_agendamento_3.png" class="img-fluid" alt="Imagem do card">
                                    </div>
                                    <!-- Conteúdo frontal do cartão -->
                                </div>
                                <div class="flip-card-back">
                                    <!-- Conteúdo traseiro do cartão -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 mb-4">
                        <div class="card flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <div class="img-container d-flex align-items-center justify-content-center">
                                        <img src="/image/image_tela_inicial_agendamento_4.png" class="img-fluid" alt="Imagem do card">
                                    </div>
                                    <!-- Conteúdo frontal do cartão -->
                                </div>
                                <div class="flip-card-back">
                                    <!-- Conteúdo traseiro do cartão -->
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                </div>
            </div>
        </div>

    </main>
</section>
<script th:src="~{}" th:fragment="js"></script>
<script th:inline="javascript" th:fragment="inlinescript"></script>
</body>
</html>